<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122444025921-d2bpkcfclaikq0ivg93hpomvtcnq63al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122444025921-d2bpkcfclaikq0ivg93hpomvtcnq63al</string>
	<key>API_KEY</key>
	<string>AIzaSyAWS-ry1z7yPDZcpNZ77gLUH4jZ_9yUYoE</string>
	<key>GCM_SENDER_ID</key>
	<string>122444025921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBooklistApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chatapp-64fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatapp-64fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122444025921:ios:94d4a2a10cb0095a61f6c0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatapp-64fa1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>